---
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import data from "../data/stays.json";
import Footer from "../components/Footer.astro";

const filterByLocatio = data.slice(0, 6);
---

<Layout title="Welcome to Astro.">
  <Navbar />

  <section class="px-5 mt-10">
    <div class="flex justify-between items-end mb-7">
      <h1 class="text-2xl font-bold">Stays in Finland</h1>
      <p class="text-sm text-gray-600">12+ stays</p>
    </div>

    <div class="flex justify-center gap-7 flex-wrap">
      {
        filterByLocatio.map((stay) => (
          <Card
            beds={stay.beds}
            title={stay.title}
            type={stay.type}
            stars={stay.rating}
            image={stay.photo}
            superHost={stay.superHost}
          />
        ))
      }
    </div>
  </section>

  <Footer />
</Layout>

<style></style>
